/*Fuentes Google*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

*{
    /*Reiniciar de default los m치rgenes del navegador*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilos segmento header*/
.container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.top-header-img{
    width: 100vw; /*viewport width toma el porcentaje que aparece respecto a la pantalla*/
    height: 100vh; /*viewport height toma el porcentaje que aparece respecto a la pantalla*/
    /*position: absolute;*/  
    background-image: url('../assets/images/back1.jpg');
    background-position: center;
    background-attachment: scroll;
    background-size: cover; /*Ajusta si es mas grande o mas chica la imagen*/
    opacity: 0.9;
}

.top-header-enlaces{
    width: 45%;
    height: 15%;
    position: relative;
    top: 350px;
    left: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header-presentacion{
    width: 30%;
    height: 25%;;
    position: relative;
    top: 200px;
    left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /*Permite desbordar los elementos*/
    /*Fuente*/
    text-align: center;
    font-family:'Raleway';
    font-weight: 400;
    color:white;
    /*animation: tarjetaNombre 3.5s linear;*/
}

.top-header-presentacion h2{
    width: 80%;
    margin-top: 10px;
}

.top-header-presentacion p{
    width: 80%;
    margin-top: -50px;
    font-size: 20px;
    font-style: italic;
}

.enlace{
    width: 24%;
    height: 35px;
    /*Fuente*/
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color:white;
    font-family:'Raleway';
    display: flex;
    justify-content: center;
    align-content: center;
    transition: linear 0.5s; /*Intervalos de tiempo para el hover*/
    /*animation: enlacesEntrando 3.5s linear;*/

    /*Nombre de la animaci칩n // Tiempo total // Curva de tiempo*/
    /*Para probar curvas de tiempo visitar cubic-bezier.com*/
}

.enlace:hover{
    color:rgb(251, 255, 0);
    transform: scale(1.2);
    /* transform: rotateY(360deg); */
}

/* Estilos segmento main */
/* Estilos caja main */

.main-presentation{
    width: 100%;
    background-color: rgb(4, 120, 136);
}

.main-presentation-global{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-presentation-global-info{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: chartreuse; */
}

.main-presentation-info-data{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: chocolate; */
}

.main-presentation-data-img{
    width: 40%;
    height: 200px;
    margin-top: 15px;
}

.main-presentation-data-img img{
    width: 100%;
    height: 100%;
}

.main-presentation-data-text{
    margin-top: 15px;
    width: 58%;
    height: 200px;
    display: flex;
    flex-direction: column; /*Invierte los ejes del flex*/
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.data-element{
    width: 100%;
    height: 15%;
}

.data-element p{
    font-size: 16px;
    font-family: 'Raleway';
}

.data-element p span{
    font-size: 18px;
    font-weight: bold;
}

.main-presentation-aboutme{
    width: 40%;
}

.main-presentation-aboutme h2{
    text-align: center;
    font-family: 'Raleway';
    margin-bottom: 8px;
}

.main-presentation-aboutme p{
    line-height: 25px;
    font-family: 'Raleway';
}

/*Parte Skills*/
.main-presentation-info-skills{
    width: 80%;
}

.main-presentation-info-skills h2{
    font-family: 'Raleway';
    margin-bottom: 20px;
    margin-top: 25px;
    text-align: center;
}

.skill{
    width: 90%;
    margin-bottom: 20px;
}

.skill-text{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway';
    margin-bottom: -10px;
}

.skill-bar{
    width: 100%;
    height: 15px;
    display: flex;
}

.skill-bar-active1{
    width: 85%;
    height: 80%;
    background: #eb3209;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f6ac0c, #eb3209);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f6ac0c, #eb3209); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*uigradients.com*/
}

.skill-bar-disable1{
    width: 15%;
    height: 80%;
    background-color: rgb(228, 235, 235); 
}

.skill-bar-active2{
    width: 75%;
    height: 80%;
    background: #D90404;  
    background: -webkit-linear-gradient(to right, #730202, #D90404, #D90404, #730202);  
    background: linear-gradient(to right, #730202, #D90404, #D90404, #730202); 
}

.skill-bar-disable2{
    width: 25%;
    height: 80%;
    background-color: rgb(228, 235, 235); 
}

.skill-bar-active3{
    width: 75%;
    height: 80%;
    background: #D98032;  
    background: -webkit-linear-gradient(to right, #BF622C, #D98032,#D98032,#BF622C); 
    background: linear-gradient(to right, #BF622C, #D98032, #D98032,#BF622C); 
}

.skill-bar-disable3{
    width: 25%;
    height: 80%;
    background-color: rgb(228, 235, 235); 
}

.skill-bar-active4{
    width: 60%;
    height: 80%;
    background: #F2C53D;  
    background: -webkit-linear-gradient(to right, #337AA6, #F2C53D,#F2C53D,#337AA6);  
    background: linear-gradient(to right, #337AA6, #F2C53D,#F2C53D,#337AA6); 
}

.skill-bar-disable4{
    width: 40%;
    height: 80%;
    background-color: rgb(228, 235, 235); 
}

.skill-bar-active5{
    width: 40%;
    height: 80%;
    background: #F1672D; 
    background: -webkit-linear-gradient(to right, #E65025, #F1672D,#F1672D,#E65025);  
    background: linear-gradient(to right, #E65025, #F1672D,#F1672D,#E65025); 
}

.skill-bar-disable5{
    width: 60%;
    height: 80%;
    background-color: rgb(228, 235, 235); 
}

.skill-bar-active6{
    width: 40%;
    height: 80%;
    background: #0F7CBF; 
    background: -webkit-linear-gradient(to right, #0F7CBF, #32A9D9, #32A9D9, #0F7CBF);  
    background: linear-gradient(to right, #0F7CBF, #32A9D9, #32A9D9, #0F7CBF); 
}

.skill-bar-disable6{
    width: 60%;
    height: 0%;
    background-color: rgb(228, 235, 235); 
}

.skill-bar-active7{
    width: 30%;
    height: 80%;
    background: #732002; 
    background: -webkit-linear-gradient(to right, #732002, #F28705); 
    background: linear-gradient(to right, #732002, #F28705); 
}

.skill-bar-disable7{
    width: 70%;
    height: 80%;
    background-color: rgb(228, 235, 235); 
}

/*Parte services*/

.container-2{
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    padding: 60px 0;
}

.main-services{
    width: 100%;
    background-color: rgb(4, 120, 136);
}

.main-services-global{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(233, 233, 233);
}

.services-text{
    width: 60%;
    text-align: center;
    font-family: 'Raleway';
    margin-top: 20px;
    margin-bottom: 10px;
}

.services-cards{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.services-title{
    width: 100%;
    margin-bottom: 30px;
}

.card_s{
    width: 30%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 50px;
    transition: linear 0.5s;
    background-color: rgb(81, 236, 120);
}

.card_s-img{
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}

.card_s-img img{
    width: 100%;
    transition: linear 1.2s;
}

.card_s-text{
    width: 90%;
    margin-top: 10px;
    text-align: center;
    font-family: 'Raleway';
    transition: linear 0.5s;
}

.card_s-title h4{
    font-style: italic;
    font-weight: bolder;
}

.card_s:hover{
    background-color: rgb(241, 145, 34);
}

.card_s-img:hover img{
    transform: rotateY(360deg);

}

.card_s-text:hover{
    transform: scale(1.1);
}

/*Parte trabajos*/

.jobs-cards{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card_j{
    width: 40%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 50px;
    transition: linear 0.5s;
    background-color: rgb(225, 228, 43);
}

.enlace-j{
    width: 90%;
    height: 35px;
    text-align: center;
    font-size: 22px;
    text-decoration: none;
    color:rgb(207, 16, 16);
    font-family:'Raleway';
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: linear 0.5s;
}

.card_j-img{
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.card_j-text{
    width: 90%;
    margin-top: 10px;
    text-align: center;
    font-family: 'Raleway';
}

.card_j:hover{
    background-color: rgb(207, 74, 240);
}

.card_j-img img{
    width: 100%;
    transition: linear 1.25s;
}

.enlace-j:hover{
    color:rgb(255, 255, 255);
    transform: scale(1.2);
}

/*Parte recomendaciones*/

.enlace-r{
    width: 24%;
    height: 35px;
    /*Fuente*/
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color:white;
    font-family:'Raleway';
    transition: linear 0.2s;
}

.enlace-r:hover{
    color:rgb(255, 166, 0);
    font-weight: bolder;
}

.main-recomendaciones-global{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #0072EE
}
/*
.audio{
    display: none;
}
*/

/* Estilos segmento footer */
#pie-de-p치gina{
    width: 100%;
    background-color: rgb(83, 83, 83)
}

.container-footer{
    width: 80%;
    margin: 0 auto;
    padding: 15px 20px;
}

.pie-de-p치gina{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text{
    width: 40%;
}

.footer-social{
    width: 40%;
}

.social-title{
    width: 100%;
}

.social-icons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon{
    width: 20%;
}

.footer-text{
    width: 90%;
    margin-top: 10px;
    text-align: left;
    font-family: 'Raleway';
    color: white;
}

.footer-text-legend p{
    font-size: 15px;
}

.social-title{
    width: 90%;
    margin-top: 10px;
    text-align: center;
    font-family: 'Raleway';
    color: white;
}